@page
@model POS.Areas.Admin.Page.Activep.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.TransactionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.TransactionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.moniepointCharge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.moniepointCharge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.CityCharge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.CityCharge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Task.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Activity.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
